[submodule "themes/casper"]
	path = themes/casper
	url = https://github.com/vjeantet/hugo-theme-casper.git
[submodule "themes/strata"]
	path = themes/strata
	url = https://github.com/digitalcraftsman/hugo-strata-theme.git
